<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ridePool</title>
</head>
<body>
    <div class="ui fixed  borderless menu">
        <div class="ui container">

            <a href="/home" ><div class="header blue item"><i class="code icon"></i>ridePool</div></a>

            <%if(!currentUser){%>
                <a href="/register" class="item blue right">Sign Up</a>
                <a href="/login" class="item ">Log In</a>
            <%}else{%>
                <a href="/calendar/new" class=" blue item">New Drive</a>
                <a href="/logout" class="item blue right">Logout</a>
                <a href="/user/<%=currentUser._id%>" class="blue item ">Signed in as <%=currentUser.username%></a>
            <%}%>

            
        </div>
    </div>

<div class="ui container">

    <%if(errorMessage.length > 0 ){%>
        <br>
        <br>
        <br>
        <br>
        <div style= "margin-bottom: -70px"class="ui red message">
            <p><%=errorMessage%></p>
        </div>
    <%}%>
    <%if(successMessage.length > 0 ){%>
        <br>
        <br>
        <br>
        <br>
        <div style= "margin-bottom: -70px" class="ui blue message">
            <p><%=successMessage%></p>
        </div>
    
    <%}%>
    
</div>
