i.code.icon {
    font-size: 2em;;
}
i.bars.icon {
    font-size: 2em;;
}
i.apple.icon{
    font-size: 1.5em;
}
i.google.icon{
    font-size: 1.5em;
}
i.mail.icon{
    font-size: 1.5em;
}
i.chevron.icon {
    font-size: 2em;;
}
i.icon.bell{
    font-size: 2em;
}
div.container.main{
    margin-top: 3.0em;
}
div.ui.fixed.menu{
    border-bottom: 1px solid #2185d0;
}
.ui.menu .item{
    color: #2185d0
}
.icon.circle{
    font-size: 0.1em;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    padding-bottom: 17px;


}
.icon.circle.low{
    padding-bottom: 6px;
}
.icon.close{
    font-size: 1em;
}
.icon.close:hover{
    color: black;
}
.bells{
    vertical-align: middle;

}
div.ui.custom.popup{
    top: auto; left: 1px; bottom: 69px; right: auto; width: 230px;
    z-index: 5;
    max-height: 400px;
    overflow-y: scroll;
}
.ui.menu a.item:hover{
    color: #2185d0
}
.color123{
    color: #2185d0
}
.block{
    display:block
}
div.ui.segment{
    border: 1px solid #2185d0;
}
.date{
    text-align: center;
    margin: auto;
}
.driver{
    color: black;
}
.driver:hover{
    color: #2185d0
}
.none{
    display: none;
}
#map{
    border-radius: 5px;
    border: 1px solid #2185d0;
}
.ui.button.black.redoo{
    color: red;
}
.ui.button.black.redoo:hover{
    color: white;
}

  .ui.grid{
    padding: 0 !important;
  }
  .pushable.segment{
    margin: 0 !important;
  }

.cal-col{
    border-left: 1px solid #2185d0;
    border-bottom: 1px solid #2185d0;
    border-top: 1px solid #2185d0;
    padding: 10px 0px;
    height: 45vw;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.outer {
    white-space: wrap;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
}
#map{
    width:100%;
    height: 400px;
}
.calendar-event{
    border: 1px solid grey;
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: .28571429rem;
    margin-top: 10px;
    background-color: #dff0ff;
    color: #2185d0;
    box-shadow: 0 0 0 1px #2185d0 inset;
    overflow-wrap: break-word;
}
div.pusher{
    background-color: black;
}
div.pushable.segment{
    background: black;
    border: none;
    border-radius: 0;
}
.ui.button.black{
    color: #2185d0;
    margin-top: 10px;
}

.cal-col.first{
    border-radius: 5px 0  0 5px;
}
.cal-col.last{
    border-radius: 0px 5px   5px 0;
    border-right: 1px solid #2185d0;
}
.calendar{
    width: 100%;
}
div.ui.menu{
    border-radius: 0%;
}
div.eleven.wide.column{
    width: 100%;
}
div.five.column.row{
    padding: 0;
}
.desktop{
    display: none;
}
@media (min-width: 750px){
    .desktop{
        display: block;
    }

}
